name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  container-images:
    name: Container Images
    uses: ./.github/workflows/artifacts.yaml
    with:
      publish: true
      release_name: ${{ github.ref_name }}
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      ECR_REPO: ${{ secrets.ECR_REPO }}
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write